.footer__columns{
  
    border: 1px solid white;
    width:90%;
    margin-top: 60px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
  }